<div class="playground">
  <div>
    <h3>Please choose one of these:</h3>
  </div>
  <div class="rps-icons">
    <div>
      <mat-icon class="rps-icon" svgIcon="rock" (click)="selectChoice(gameChoices.rock)"></mat-icon>
    </div>
    <div>
      <mat-icon class="rps-icon" svgIcon="paper" (click)="selectChoice(gameChoices.paper)"></mat-icon>
    </div>
    <div>
      <mat-icon class="rps-icon" svgIcon="scissors" (click)="selectChoice(gameChoices.scissors)"></mat-icon>
    </div>
  </div>

  <div class="rps-icons" *ngIf="humanChoice">
    <div>
      <h3>You chose:</h3>
      <div>
        <mat-icon class="rps-icon choice-icon" [svgIcon]=humanChoice></mat-icon>
      </div>
    </div>
    <div>
      <h3>Computer chose:</h3>
      <div>
        <mat-icon class="rps-icon choice-icon" [svgIcon]=computerChoice></mat-icon>
      </div>
    </div>
  </div>
</div>
