<div class="playground">
  <div class="choices">
    <h3 class="choices-title">Please choose one of these:</h3>
    <div class="rps-icons">
      <div>
        <mat-icon class="rps-icon" svgIcon="rock" (click)="selectChoice(gameChoices.rock)"></mat-icon>
      </div>
      <div>
        <mat-icon class="rps-icon" svgIcon="paper" (click)="selectChoice(gameChoices.paper)"></mat-icon>
      </div>
      <div>
        <mat-icon class="rps-icon" svgIcon="scissors" (click)="selectChoice(gameChoices.scissors)"></mat-icon>
      </div>
    </div>
  </div>

  <div class="choices chosen" *ngIf="humanChoice">
    <div class="rps-icons">
      <div>
        <h3>You chose:</h3>
        <div class="chose-container">
          <mat-icon class="rps-icon chose-icon" [svgIcon]=humanChoice></mat-icon>
        </div>
      </div>
      <div>
        <h3>Computer chose:</h3>
        <div class="chose-container">
          <mat-icon class="rps-icon chose-icon" [svgIcon]=computerChoice></mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
