.choices {
  background-color: #ffcab6;
  margin: 1rem;
  padding: .5rem;
  border-radius: 1rem;

  &.chosen {
    background-color: #ffa39c;
  }

  h3 {
    margin: 0;

    &.choices-title {
      margin-top: 1rem;
    }
  }

  .rps-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: .7rem;

    .rps-icon {
      padding: 1rem 3rem;
      min-width: clamp(6rem, 5vw, 10rem);
      min-height: 4.5vw;
      cursor: pointer;
    }

    .chose-container {
      display:flex;
      justify-content: center;

      .chose-icon {
        cursor: auto;
      }
    }
  }
}





