<div class="header">
  <h3>Play the great rock paper scissors game!</h3>
  <div class="restart-button-container">
    <button mat-raised-button (click)="restartGame()">Restart</button>
  </div>
</div>

<div class="scores">
  <h3>Score</h3>
  <div class="scores-list">
    <div class="list-item">
      <p class="score">{{ score.humanScore }}</p>
      <p class="score-text">You</p>
    </div>
    <div class="list-item">
      <p class="score">{{ score.computerScore }}</p>
      <p class="score-text">Computer</p>
    </div>
  </div>
</div>

<div class="result" *ngIf="result">
  <h3>
    {{ result !== 'draw' ? 'You have ' + result + '!' : "It's a " + result + '!' }}
  </h3>
</div>
