html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Arial Black", sans-serif;
  background-image: url("./assets/images/beach.jpg");
}

h3 {
  text-align: center;
  text-transform: uppercase;
}

@import 'app/styles/main';
