/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Arial Black", sans-serif; }

h3 {
  font-size: clamp(1rem, 1.5vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .1rem;
}
